.diagram_blok {
    display: flex;
    flex-direction: row;
}
.diagram {
    width: 500px;
    height: 300px;
}

@media(max-width: 920px) {
    .diagram_blok{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 400px) {
    .diagram{
        width: 300px;
        height: 200px;
        font-size: 14px;
    }
}